<!DOCTYPE html>
<html>
<body>

<h2>Using the XMLHttpRequest Object</h2>

<div id="login">
<button type="button" onclick="login()">login</button>
</div>

<script>
function login() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("login").innerHTML = this.responseText;
    }
  };
  xhttp.open("POST", "/login/mahsa12/khkmkmp", true);
  xhttp.send();
}
</script>

<div id="signup">
<button type="button" onclick="signup()">signup</button>
</div>

<script>
function signup() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("signup").innerHTML = this.responseText;
    }
  };
  xhttp.open("POST", "/signup/mahsa12/khkmkmp", true);
  xhttp.send();
}
</script>
<script>
  var source = new EventSource("/signup/mahsa12/khkmkmp");
source.addEventListener('greeting', function(event) {
    var data = JSON.parse(event.data);
    // do what you want with this data
}, false);
</script>
</body>
</html>